@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT 1 */
/* ----- posisi button ----- */
.button-edit-div{
  position: absolute;
  right: 25px;
  top: 25px;
}


/* ---- Hero Section ------ */
.hero{
  padding: 0px 80px 0px 80px;
}
.hero .hero-title{
  font-size: 40px;
  font-weight: 600;
  
}

/* -----Solusi Section------ */
.solusi{
  padding: 110px 80px 110px 80px;
}

.solusi .solusi-title{
  font-size: 34px;
  font-weight: 600;
}

/* -----Fitur Section------ */
.fitur{
  padding: 0px 80px 0px 80px;
}

.fitur .fitur-icon{
  border-radius: 10px;
  padding: 8px;
  display: inline;
  width: fit-content;
}

/* -----Testimoni section------ */
.testimoni{
  padding: 20px 80px 20px 80px;
}

.testimoni .testimoni-title{
  font-weight: 600;
  font-size: 36px;
}

/* ----Garansi Section ----- */
.garansi{
  padding: 0px 80px 0px 80px;
}

.garansi .garansi-icon{
  border-radius: 10px;
  padding: 8px;
  display: inline;
  width: fit-content;
}

.garansi-title{
  font-size: 34px;
  font-weight: 500;
  text-align: left;
}

/* ----Diskon Section----- */
.diskon{
  padding: 0px 80px 0px 80px;
}
.diskon .diskon-title{
  font-size: 36px;
  font-weight: 500;
}

.diskon .diskon-description{
  width: 90%;
}

/* ---slider----- */
.fa-arrow-right, .fa-arrow-left{
  color: black;
}

.slider-single .proactive{
  background-color: rgba(0, 0, 0, 0.246);
}


/* ----- Modal ------- */
input{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 10px;
}

option{
  color: white;
}

select{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 10px;
}

select:focus{
  border: 2px solid #845AFE;
  outline: none;
}

input[type="file"]{
  height: 100%;
  width: 100%;
}

.upload-label{
  background-color: #845AFE;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 50%;
}

input:focus{
  border: 2px solid #845AFE;
  outline: none;
}

.button-color{
  width: 24px;
  height: 24px;
}

.preview{
  border-radius: 5px;
  background-color: #B298FF;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

#imgpreviewhero{
  width: 100px;
  height: 100px;
}
