@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT 1 */
/* ----- posisi button ----- */
.button-edit-div{
  position: absolute;
  right: 25px;
  top: 25px;
}

/* ---- Hero Section ------ */
.hero{
  padding: 0px 80px 0px 80px;
}
.hero .hero-title{
  font-size: 40px;
  font-weight: 600;
  
}

/* -----Solusi Section------ */
.solusi{
  padding: 110px 80px 110px 80px;
}

.solusi .solusi-title{
  font-size: 34px;
  font-weight: 600;
}


/* ----- Modal ------- */
input{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 10px;
}

input[type="file"]{
  height: 100%;
  width: 100%;
}

.upload-label{
  background-color: #845AFE;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 50%;
}

input:focus{
  border: 2px solid #845AFE;
  outline: none;
}

.button-color{
  width: 24px;
  height: 24px;
}

.preview{
  border-radius: 5px;
  background-color: #B298FF;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

#imgpreviewhero{
  width: 100px;
  height: 100px;
}
