@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT 1 */
.Layout-1{
  font-family: 'Poppins', sans-serif;
}
/* ----- posisi button ----- */
.button-edit-div{
  position: absolute;
  right: 25px;
  top: 25px;
}

.button-setting-div{
  position: absolute;
  left: 25px;
  top: 25px;
}

.button-writing-div{
  position: absolute;
  left: 25px;
  top: 75px;
}


/* ---- Hero Section ------ */
.hero .hero-title{
  font-size: 40px;
  font-weight: 600;
}

.hero-wrap{
  background-size: cover;
  padding: 0px 80px 0px 80px;
}

@media (max-width: 768px) {
  .hero-wrap{
    padding: 40px;
  }
  .hero .hero-title{
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 350px) {
  .hero-wrap{
    padding: 20px;
  }
  .hero .hero-title{
    font-size: 18px;
    font-weight: 600;
  }
}

/* -----Solusi Section------ */
.solusi{
  padding: 110px 80px 110px 80px;
}

.solusi .solusi-title{
  font-size: 34px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .solusi{
    padding: 60px 40px 60px 40px;
  }
  .solusi .solusi-title{
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 360px) {
  .solusi{
    padding: 25px;
  }
  .solusi .solusi-title{
    font-size: 20px;
    font-weight: 600;
  }
}

/* -----Video Section------ */
.video-wrap{
  width: 800px;
  height: fit-content;
}

@media (max-width: 768px){
  .video-wrap{
    width: 500px;
  }
}

@media (max-width: 350px){
  .video-wrap{
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
  }
}

/* -----Fitur Section------ */
.fitur{
  padding: 0px 80px 0px 80px;
}

.fitur .fitur-icon{
  border-radius: 10px;
  padding: 8px;
  display: inline;
  width: fit-content;
}

@media (max-width:768px){
  .fitur{
    padding: 20px 40px 20px 40px;
  }
}

@media (max-width:350px){
  .fitur{
    padding: 20px;
  }
}

/* -----Testimoni section------ */
.testimoni{
  padding: 20px 80px 20px 80px;
}

.testimoni .testimoni-title{
  font-weight: 600;
  font-size: 36px;
}

@media (max-width:768px){
  .testimoni{
    padding: 10px 40px 10px 40px;
  }

  .testimoni .testimoni-title{
    font-size: 20px;
  }
}

@media (max-width:350px){
  .testimoni{
    padding: 5px 20px 5px 20px;
  }

  .testimoni .testimoni-title{
    font-size: 18px;
  }
}

/* ----Garansi Section ----- */
.garansi{
  padding: 0px 80px 0px 80px;
}

.garansi .garansi-icon{
  border-radius: 10px;
  padding: 8px;
  display: inline;
  width: fit-content;
}

.garansi-title{
  font-size: 34px;
  font-weight: 500;
  text-align: left;
}

@media (max-width: 768px){
  .garansi{
    padding: 10px 50px 10px 50px;
  }

  .garansi-title{
    font-size: 28px;
  }
}

@media (max-width:350px){
  .garansi{
    padding: 10px 30px 10px 30px;
  }

  .garansi-title{
    font-size: 18px;
  }
}

/* ----Diskon Section----- */
.diskon{
  padding: 0px 80px 0px 80px;
}
.diskon .diskon-title{
  font-size: 36px;
  font-weight: 500;
}

.diskon .diskon-description{
  width: 90%;
}

@media (max-width: 768px){
  .diskon{
    padding: 20px 40px 20px 40px;
  }

  .diskon .diskon-title{
    font-size: 28px;
    font-weight: 500;
  }

  .diskon .diskon-description{
    width: 100%;
  }
}

@media (max-width: 350px){
  .diskon .diskon-title{
    font-size: 18px;
    font-weight: 500;
  }
  
  .diskon{
    padding: 20px;
  }
}


/* ----- CTA section ------ */
.cta{
  padding: 0px 80px 0px 80px;
}

.cta .cta-title{
  font-size: 38px;
  font-weight: 600;
}

.cta .btn-wrap-cta{
  width: fit-content;
}

@media (max-width: 768px){
  .cta{
    padding: 10px 40px 10px 40px;
  }

  .cta .cta-title{
    font-size: 28px;
  }
}

@media (max-width: 358px){
  .cta{
    padding: 15px;
  }

  .cta .cta-title{
    font-size: 18px;
  }
}

/* ----Footer secton ------ */
.footer{
  padding: 55px 80px 55px 80px;

}

.footer .slogan{
  font-weight: 500;
  font-size: 24px;
  width: 70%;
  text-align: left;
}

@media (max-width:768px){
  .footer{
    padding: 45px 40px 45px 40px;
  
  }
  .footer .slogan{
    font-size: 20px;
  }
}

@media (max-width:350px){
  .footer{
    padding: 15px 20px 15px 20px;
  
  }
  .footer .slogan{
    font-size: 18px;
  }
}

/* ---slider----- */
.fa-arrow-right, .fa-arrow-left{
  color: black;
}

.slider-single .proactive{
  background-color: rgba(0, 0, 0, 0.246);
}


/* ----- Modal ------- */
input{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 10px;
}

input[type="color"]{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 40px;
  padding: 5px;
}

textarea{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  height: 100px;
  padding: 10px;
}

option{
  color: white;
}

select{
  border-radius: 5px;
  border: 1px solid #845AFE;
  background-color: transparent;
  color: white;
  padding: 10px;
}

option{
  color: black;
  border-radius: 5px;
}

select:focus{
  border: 2px solid #845AFE;
  outline: none;
}

input[type="file"]{
  height: 100%;
  width: 100%;
}

.upload-label{
  background-color: #845AFE;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 50%;
}

input:focus{
  border: 2px solid #845AFE;
  outline: none;
}


.button-color{
  width: 50px;
  height: 24px;
  border: none;
}


.button-active{
  border: 2px solid white;
}


.preview{
  border-radius: 5px;
  background-color: #B298FF;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

#imgpreviewhero,
#imgpreviewbg,
#imgpreviewlogo{
  width: 100px;
  height: 100px;
}

.modal-fitur, 
.modal-garansi,
.modal-hero,
.modal-sett,
.modal-writing{
  height: 80vh;
}

.modal-fitur-wrap, 
.modal-garansi-wrap,
.modal-hero-wrap,
.modal-setting-wrap,
.copywriting-wrap{
  overflow-y: auto;
}

.template-wrap{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px){
  input{
    height: 30px;
    padding: 10px;
  }

  .modal-hero-wrap{
    overflow-y: auto;
  }
}

@media (max-width: 350px) {

  
}

